<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" />
  <link rel="stylesheet" href="https://unpkg.com/@twilio-paste/design-tokens@6.3.0/dist/tokens.custom-properties.css" />
  <link rel="stylesheet" href="index.css" />
  <title>Twiliomatic Error</title>
</head>

<body>
  <div class="tp-app" id="app">
    <header class="tp-site-header">
      <a href="/index">
        <img src="twiliomatic_type_v2_logo.png" alt="" width="500" class="robot-image" />
      </a>
    </header>
    <main class="tp-site-main">
      <div class="tp-site-main-inner">
        <h1>🤣 Guess we do need developers after all 🤣</h1>
        <p>{{ err }}</p>
        <p><a href="/index">Try again</a></p>
      </div>
    </main>

    <footer class="tp-site-footer">
      <div class="tp-footer-credit">
        Designed with
        <a class="tp-footer-link" href="https://paste.twilio.design" target="_blank">Paste</a>
      </div>
    </footer>
  </div>
</body>

</html>